language: php
php:
  - 7.3
  - nightly
install:
  - composer install --prefer-dist --optimize-autoloader --quiet --ignore-platform-reqs
addons:
  ssh_known_hosts:
  - 47.93.41.147
before_install:
  - openssl aes-256-cbc -K $encrypted_04674a2f3de9_key -iv $encrypted_04674a2f3de9_iv
    -in id_rsa.enc -out ~\/.ssh/id_rsa -d
  - chmod 600 ~/.ssh/id_rsa
after_success:
  - ssh travis@47.93.41.147 "~/after_success.sh"
